 .u-section-1 {
  background-image: none;
  min-height: 924px;
}

.u-section-1 .u-image-1 {
  width: 482px;
  min-height: 924px;
  background-image: url("images/001_150.png");
  background-position: 50% 50%;
  margin: 0 auto 0 calc(((100% - 1140px) / 2) + 257px);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-shape-1 {
  height: 294px;
  background-image: none;
  margin-top: -488px;
  margin-bottom: 0;
}

.u-section-1 .u-shape-2 {
  width: 693px;
  height: 600px;
  background-image: none;
  margin: -522px auto 0 calc(((100% - 1140px) / 2) + 215px);
}

.u-section-1 .u-image-2 {
  width: 662px;
  height: 662px;
  object-position: 38.87% 50%;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.3);
  background-image: url("images/-min.jpg");
  background-position: 73.92% 50%;
  margin: -753px auto 0 calc(((100% - 1140px) / 2) + 43px);
}

.u-section-1 .u-group-2 {
  width: 551px;
  min-height: 489px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -337px calc(((100% - 1140px) / 2) + 19px) 55px auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 28px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 38px auto 0 0;
  padding: 10px 43px 10px 41px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + 257px);
  }

  .u-section-1 .u-shape-2 {
    width: 626px;
    height: 569px;
    margin-top: -490px;
    margin-right: calc(((100% - 940px) / 2) + 99px);
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-2 {
    width: 465px;
    margin-right: calc(((100% - 940px) / 2) + 19px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 50vw;
  }

  .u-section-1 .u-image-1 {
    width: 435px;
    min-height: 960px;
    margin-left: calc(((100% - 720px) / 2) + 135px);
  }

  .u-section-1 .u-shape-1 {
    height: 250px;
  }

  .u-section-1 .u-shape-2 {
    width: 564px;
    height: 537px;
    margin-top: -450px;
    margin-right: calc(((100% - 720px) / 2) + 62px);
  }

  .u-section-1 .u-image-2 {
    width: 557px;
    height: 557px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-2 {
    min-height: 466px;
    margin-top: -189px;
    margin-right: calc(((100% - 720px) / 2));
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1008px;
  }

  .u-section-1 .u-image-1 {
    width: 308px;
    min-height: 1008px;
    margin-left: calc(((100% - 540px) / 2) + 105px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -536px;
  }

  .u-section-1 .u-shape-2 {
    width: 452px;
    height: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-2 {
    width: 479px;
    height: 479px;
    margin-top: -742px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-2 {
    margin-top: -77px;
    margin-right: auto;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 916px;
  }

  .u-section-1 .u-image-1 {
    width: 239px;
    min-height: 916px;
    margin-left: calc(((100% - 340px) / 2) + 35px);
  }

  .u-section-1 .u-shape-1 {
    height: 153px;
    margin-top: -659px;
  }

  .u-section-1 .u-shape-2 {
    width: 279px;
    height: 354px;
    margin-top: -257px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-2 {
    width: 315px;
    height: 315px;
    margin-top: -457px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-2 {
    width: 308px;
    min-height: 521px;
    margin-top: -28px;
    margin-bottom: 58px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}